<article itemscope itemtype="http://schema.org/Article" class="<%- page.indent == true ? 'cus-indent' : '' %> article post white-box reveal md <%- theme.custom_css.body.effect.join(' ') %> article-type-<%= post.layout %>" id="<%= post.layout %>" itemscope itemprop="blogPost">
  <link itemprop="mainEntityOfPage" href="<%- post.permalink %>">
  <span hidden itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="<%- config.title %>">
  </span>
  <span hidden itemprop="post" itemscope itemtype="http://schema.org/Post">
    <meta itemprop="name" content="<%- config.title %>">
    <meta itemprop="description" content="<%- config.description %>">
  </span>
  <%- partial('meta', {post: post, position: 'top'}) %>
  <div id="layoutHelper-page-plugins"></div>
  <div id="post-body" itemprop="articleBody">
    <%- post.content %>
  </div>
  <% if (page.link) { %>
    <div class='div-ori-link'>
      <a class='ori-link' href='<%- url_for(post.link || post.path) %>'>
        <%- post.link ? __('post.readoriginal') : __('post.readmore') %>
      </a>
    </div>
  <% } %>
  <% if (['post','docs'].includes(page.layout)) { %>
    <% let footer_widget = theme.article.body.footer_widget; %>
    <div class='footer'>
      <% if (page.references && page.references.length > 0) { %>
        <div class='references'>
          <section class='header'>
            <% if (footer_widget.references.icon) { %>
              <i class="<%- footer_widget.references.icon %> fa-fw" aria-hidden="true"></i>
            <% } %>
            <span><%- footer_widget.references.title %></span>
          </section>
          <section class='body'>
            <ul>
              <% (page.references||[]).forEach(function(row){ %>
                <li>
                  <a href="<%- url_for(row.url) %>" rel="external nofollow noopener noreferrer" target="_blank">
                  <%- row.title || url_for(row.url) %>
                  </a>
                </li>
              <% }) %>
            </ul>
          </section>
        </div>
      <% } %>
      <% if (['post'].includes(page.layout) && footer_widget.related_posts && footer_widget.related_posts.enable == true) { %>
        <%-
        htmlGenerator(
          popular_posts_json({ maxCount: footer_widget.related_posts.max_count , ulClass: 'vlts-rps' , PPMixingRate: 0.2 , isImage: true , isExcerpt: true} , post )
        )
        %>
      <% } %>
      <% if (['post'].includes(page.layout) && footer_widget.copyright && footer_widget.copyright.enable == true && post.copyright != false) { %>
        <div class='copyright'>
          <blockquote>
            <% (footer_widget.copyright.content||[]).forEach(function(row){ %>
            <% if (row == 'permalink') { %>
            <p><svg id="icon-touxiang" viewBox="0 0 1024 1024" width="17" height="17" style="vertical-align:-3.2px">
                <path
                  d="M614.72 554.538c-49.086-6.399-100.27-2.1-149.256-2.1-119.465 0-209.04 95.972-206.84 215.437 0 17.095 8.498 31.99 23.493 40.488 14.896 10.697 34.09 14.896 53.285 17.095 61.882 6.398 123.664 6.398 198.342 6.398 40.488 0 93.872-2.1 142.858-4.298 27.692 0 53.284-4.3 78.877-14.896 19.194-8.498 29.89-19.194 31.99-40.488 8.498-104.57-72.478-204.84-172.75-217.636zM680.8 375.39c0-87.474-74.678-162.053-164.251-162.053-89.574 0-162.053 74.679-162.053 162.053-2.1 87.474 74.678 164.252 162.053 164.252 89.673 0 164.252-74.678 164.252-164.252z"
                  fill="#FFFFFF"></path>
                <path
                  d="M512.35 0C228.733 0 0.5 228.233 0.5 511.8qystudio.ltd5s228.233 511.85 511.85 511.85 511.85-228.233 511.85-511.85S795.967 0 512.35 0z m275.12 772.074c-2.1 21.294-12.797 31.99-31.991 40.488-25.593 10.697-51.185 14.896-78.877 14.896-49.086 2.099-102.37 4.298-142.858 4.298-74.678 0-136.46 0-198.342-6.398-19.195-2.1-38.389-6.398-53.285-17.095-14.895-8.497-23.493-23.493-23.493-40.488-2.1-119.465 87.475-215.437 206.84-215.437 49.085 0 100.27-4.299 149.256 2.1 100.27 12.896 181.247 113.166 172.75 217.636zM354.495 375.39c0-87.474 72.479-162.053 162.053-162.053S680.8 288.016 680.8 375.39c0 89.574-74.679 164.252-164.252 164.252-87.375 0-164.152-76.778-162.053-164.252z"
                  fill="#249FF8"></path>
              </svg>&nbsp;本文由 <a href="https://qystudio.ltd/" data-pjax-state="">QY studio Team</a> 创作，如果您觉得本文不错，请随意赞赏🌹</p>
            <p><svg id="icon-ziyuan" viewBox="0 0 1024 1024" width="17" height="17" style="vertical-align:-3.2px">
                <path
                  d="M511.854421 0a511.854421 511.854421 0 1 0 512.145579 511.854421A511.854421 511.854421 0 0 0 511.854421 0z"
                  fill="#39B54A"></path>
                <path
                  d="M576.491328 630.355417l-116.462895 116.462894a129.56497 129.56497 0 0 1-182.555587 0l-2.0381-2.038101a128.982656 128.982656 0 0 1 0-182.26443l81.232868-81.232868a179.644015 179.644015 0 0 0 13.102076 70.460051l-52.69946 52.408302a69.877737 69.877737 0 0 0 0 98.702303l2.038101 2.038101a70.168894 70.168894 0 0 0 98.702303 0l116.462895-116.462894a69.877737 69.877737 0 0 0 0-98.702304l-2.038101-2.0381a69.586579 69.586579 0 0 0-13.975547-10.772818l42.508956-42.508956a128.109184 128.109184 0 0 1 13.102076 11.355132l2.0381 2.0381a129.273813 129.273813 0 0 1 0 182.26443z"
                  fill="#FFFFFF"></path>
                <path
                  d="M746.235997 460.901905l-81.232869 81.232869a179.352858 179.352858 0 0 0-13.102076-70.460051l52.69946-52.408303a69.877737 69.877737 0 0 0 0-98.702303l-2.038101-2.038101a69.877737 69.877737 0 0 0-98.702303 0l-116.462894 116.462895a69.877737 69.877737 0 0 0 0 98.702303l2.0381 2.038101a68.421951 68.421951 0 0 0 13.975548 10.772817l-42.508957 42.508957a136.552744 136.552744 0 0 1-13.102076-11.355132l-2.0381-2.038101a128.982656 128.982656 0 0 1 0-182.26443l116.462894-116.462894a129.56497 129.56497 0 0 1 182.555587 0l2.038101 2.0381a128.982656 128.982656 0 0 1 0 182.26443z"
                  fill="#FFFFFF"></path>
              </svg>&nbsp;<%- footer_widget.copyright.permalink %><a href=<%- page.permalink %>><%- page.permalink %></a>
            </p>
            <p><svg id="icon-fenxiang" viewBox="0 0 1024 1024" width="17" height="17" style="vertical-align:-3.2px">
                <path d="M512 512m-512 0a512 512 0 1 0 1024 0 512 512 0 1 0-1024 0Z" fill="#F3B243"></path>
                <path d="M630.784 323.584m-90.112 0a90.112 90.112 0 1 0 180.224 0 90.112 90.112 0 1 0-180.224 0Z"
                  fill="#FFFFFF"></path>
                <path d="M630.784 688.128m-90.112 0a90.112 90.112 0 1 0 180.224 0 90.112 90.112 0 1 0-180.224 0Z"
                  fill="#FFFFFF"></path>
                <path d="M319.488 512m-90.112 0a90.112 90.112 0 1 0 180.224 0 90.112 90.112 0 1 0-180.224 0Z"
                  fill="#FFFFFF"></path>
                <path d="M341.037056 480.370688l257.343488-175.7184 27.713536 40.59136-257.339392 175.7184z" fill="#FFFFFF">
                </path>
                <path d="M349.052928 488.452096l252.854272 182.10816-28.725248 39.886848-252.874752-182.10816z"
                  fill="#FFFFFF"></path>
              </svg>&nbsp;博客内容遵循<a target="_blank" rel="noopener"
                href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">署名-非商业性使用-相同方式共享 4.0 国际 (CC BY-NC-SA
                4.0)
                协议</a></p>
            <p><svg id="icon-juanzeng" viewBox="0 0 1024 1024" width="17" height="17" style="vertical-align:-3.2px">
                <path d="M512 512m-512 0a512 512 0 1 0 1024 0 512 512 0 1 0-1024 0Z" fill="#F24827" p-id="19155"></path>
                <path
                  d="M713.953882 364.318118a133.647059 133.647059 0 0 0-189.003294 0l-13.327059 13.327058-13.342117-13.327058a133.647059 133.647059 0 0 0-189.003294 0 133.632 133.632 0 0 0 0 188.988235l13.327058 13.342118 189.018353 160.918588 188.988236-160.933647 13.342117-13.327059a133.662118 133.662118 0 0 0 0-188.988235z"
                  fill="#FFFFFF" p-id="19156"></path>
              </svg>&nbsp;您的喜欢是作者写作最大的动力😁！</p>
            <% } else { %>
            <!-- <%- markdown(row) %> -->
            <% } %>
            <% }) %>
          </blockquote>
        </div>
      <% } %>
      <% if (['post'].includes(page.layout) && footer_widget.donate && footer_widget.donate.enable == true) { %>
        <div class='donate'>
          <div class='imgs'>
            <% (footer_widget.donate.images||[]).forEach(function(url){ %>
              <img src='<%- url_for(url) %>'>
            <% }) %>
          </div>
        </div>
      <% } %>
    </div>
  <% } %>
  <% if (['page', 'post', 'docs'].includes(post.layout)) { %>
    <%- partial('meta', {post: post, position: 'bottom'}) %>
  <% } %>
  <% if ((post.group != undefined) && (post.order != undefined)) { %>
    <%
    let prev = new Object();
    let next = new Object();
    site.pages.each(function(p){
      if ((p.title || p.seo_title) && p.path && (p.group == post.group)) {
        if (p.order < post.order && (p.order > prev.order || prev.order == undefined)) {
          prev = {title: p.title || p.seo_title, exp: truncate(strip_html(p.content), {length: 100}), path: p.path, order: p.order};
        }
        if (p.order > post.order && (p.order < next.order || next.order == undefined)) {
          next = {title: p.title || p.seo_title, exp: truncate(strip_html(p.content), {length: 100}), path: p.path, order: p.order};
        }
      }
    })
    %>
    <% if (['docs'].includes(post.layout) && (prev || next)) { %>
      <div class="prev-next">
        <% if (prev.path) { %>
          <a class='prev' href='<%- url_for(prev.path) %>'>
            <p class='title'><i class="fal fa-chevron-left" aria-hidden="true"></i><%- prev.title || '' %></p>
            <p class='content'><%- prev.exp %></p>
          </a>
        <% } %>
        <% if (next.path) { %>
          <a class='next' href='<%- url_for(next.path) %>'>
            <p class='title'><%- next.title || '' %><i class="fal fa-chevron-right" aria-hidden="true"></i></p>
            <p class='content'><%- next.exp %></p>
          </a>
        <% } %>
      </div>
    <% } %>
  <% } %>

  <% if (post.prev || post.next) { %>
    <div class="prev-next">
      <% if (post.prev) { %>
        <a class='prev' href='<%- url_for(post.prev.path) %>'>
          <p class='title'><i class="fa-solid fa-chevron-left" aria-hidden="true"></i><%- post.prev.title || post.prev.seo_title || date(post.date, theme.article.body.meta_library.date.format) %></p>
          <p class='content'><%- truncate(strip_html(page.prev.content), {length: 100}) %></p>
        </a>
      <% } %>
      <% if (post.next) { %>
        <a class='next' href='<%- url_for(post.next.path) %>'>
          <p class='title'><%- post.next.title || post.next.seo_title || date(post.date, theme.article.body.meta_library.date.format) %><i class="fa-solid fa-chevron-right" aria-hidden="true"></i></p>
          <p class='content'><%- truncate(strip_html(page.next.content), {length: 100}) %></p>
        </a>
      <% } %>
    </div>
  <% } %>
  <!-- Custom Files postEnd begin-->
  <%- volantis_inject('postEnd') %>
  <!-- Custom Files postEnd end-->
</article>

<% if (page.comments == undefined || page.comments != false) { %>
  <%- partial('../_plugins/comments/index') %>
<% } %>


<% if(page.background) { %>
  <div class="cus-article-bkg content-in" style="background-image: url(<%- page.background %>)"></div>
<% } %>